In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd #import pandas

In [37]:
file_path = '/content/drive/MyDrive/Colab Notebooks/dataset/house_data.csv'
house= pd.read_csv(file_path)
house.head() #memasukkan dan membaca dataset

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [38]:
house.shape #menampilkan bentuk data

(21613, 21)

In [39]:
house.columns #menampilkan jumlah kolom pada data

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [40]:
house.describe() #menampilkan ringkasan dari data

                 id         price  ...  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  ...   21613.000000   21613.000000
mean   4.580302e+09  5.400881e+05  ...    1986.552492   12768.455652
std    2.876566e+09  3.671272e+05  ...     685.391304   27304.179631
min    1.000102e+06  7.500000e+04  ...     399.000000     651.000000
25%    2.123049e+09  3.219500e+05  ...    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05  ...    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05  ...    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06  ...    6210.000000  871200.000000

[8 rows x 20 columns]

In [41]:
house.describe().loc['max', 'long'] #menampilkan rumah yang paling panjang

-121.315

In [42]:
house.describe()['long']['max'] #menampilkan rumah yang paling panjang juga, tapi dengan beda command

-121.315

In [65]:
house = house.dropna() #membersihkan atau menghapus data NAN

In [66]:
house.shape

(21613, 21)

In [67]:
y = house['price']
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [68]:
features = ['bedrooms', 'bathrooms', 'floors', 'view', 'condition']
X = house[features]
X #memilih fitur pada rumah yang ada

       bedrooms  bathrooms  floors  view  condition
0             3       1.00     1.0     0          3
1             3       2.25     2.0     0          3
2             2       1.00     1.0     0          3
3             4       3.00     1.0     0          5
4             3       2.00     1.0     0          3
...         ...        ...     ...   ...        ...
21608         3       2.50     3.0     0          3
21609         4       2.50     2.0     0          3
21610         2       0.75     2.0     0          3
21611         3       2.50     2.0     0          3
21612         2       0.75     2.0     0          3

[21613 rows x 5 columns]

In [69]:
X.describe()

           bedrooms     bathrooms        floors          view     condition
count  21613.000000  21613.000000  21613.000000  21613.000000  21613.000000
mean       3.370842      2.114757      1.494309      0.234303      3.409430
std        0.930062      0.770163      0.539989      0.766318      0.650743
min        0.000000      0.000000      1.000000      0.000000      1.000000
25%        3.000000      1.750000      1.000000      0.000000      3.000000
50%        3.000000      2.250000      1.500000      0.000000      3.000000
75%        4.000000      2.500000      2.000000      0.000000      4.000000
max       33.000000      8.000000      3.500000      4.000000      5.000000

In [70]:
#Importing DecisionTreeRegressor 
from sklearn.tree import DecisionTreeRegressor

In [71]:
#konfigurasi model
housing_model = DecisionTreeRegressor(random_state=1)

In [72]:
#model training
housing_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [73]:
#prediksi model
housing_model.predict(X.head())

array([313540.21750663, 449993.33333333, 333926.48271447, 621100.        ,
       377146.73969072])

In [74]:
X.head()

   bedrooms  bathrooms  floors  view  condition
0         3       1.00     1.0     0          3
1         3       2.25     2.0     0          3
2         2       1.00     1.0     0          3
3         4       3.00     1.0     0          5
4         3       2.00     1.0     0          3

In [75]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [76]:
import numpy as np
np.random.seed(0)

for _ in range(10):
    print(np.random.randint(10))

5
0
3
3
7
9
3
5
2
4

In [77]:
#validasi terhadap model
from sklearn.metrics import mean_absolute_error

In [78]:
y_hat = housing_model.predict(X)
mean_absolute_error(y, y_hat)

154914.88055727494

In [79]:
#training dataset
from sklearn.model_selection import train_test_split

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.7)

In [81]:
#training dan konfigurasi terhdap model
housing_model = DecisionTreeRegressor(random_state=1)
housing_model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=1)

In [82]:
#evaluasi model
y_hat = housing_model.predict(X_test)
mean_absolute_error(y_test, y_hat)

189174.09149549282

In [83]:
#optimasi terhadap model
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_hat)
    return mae

In [84]:
# membandingkan MAE dengan beberapa nilai max_leaf_nodes untuk menemukan jumlah leaf
for max_leaf_nodes in [5, 50, 500, 5000]:
    leaf_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print(f'Max leaf nodes: {max_leaf_nodes} \t Mean Absolute Error: {int(leaf_mae)}')

Max leaf nodes: 5 	 Mean Absolute Error: 197243
Max leaf nodes: 50 	 Mean Absolute Error: 183506
Max leaf nodes: 500 	 Mean Absolute Error: 186587
Max leaf nodes: 5000 	 Mean Absolute Error: 189763

In [85]:
#eksplorasi dengan random forest
from sklearn.ensemble import RandomForestRegressor

In [86]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=1)
rf_model.fit(X_train, y_train)
y_hat = rf_model.predict(X_test)
print(f'Mean Absolute Error: {int(mean_absolute_error(y_test, y_hat))}')

Mean Absolute Error: 182889